body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Courier New', Courier, monospace;
  }
  
  header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
    background-color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo{
    margin-left: 30px;
  }
  .logo img {
    width: 70px; 
    height: auto;
  }
  
 
  /* Style the navigation menu */
  nav ul {
    display: flex;
    margin-right: 200px;
  }
  
  nav ul li {
    margin-right: 40px; 
    position: relative;
  }
 
  
  nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 10px;
    display: block;
  }

  nav a:hover{
      color: yellow;
  }
  
  /* Style the dropdown menu */
  nav ul .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: black;
    border: 1px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  nav ul li:hover .dropdown-menu {
    display: block;
  }
  
  nav ul .dropdown-menu li {
    padding: 8px 16px;
    text-align: left;
    background-color: black ;
    color: black;
    border-bottom: 1px solid #555;
    white-space: nowrap;
  }
  
  nav ul .dropdown-menu a {
    padding: 8px 20px;
  }
  
  @media screen and (max-width: 548px) {
    nav {
      flex-direction: column;
    }
  
    nav ul {
      flex-direction: column;
    }
  
    nav ul li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    nav ul .dropdown-menu {
      position: static;
      display: none;
    }
  
    nav ul .dropdown-menu li {
      border-bottom: none;
    }
  
    nav ul li:hover .dropdown-menu {
      display: none;
    }
  }
  
  .rajasection {
    margin-top: 50px;
      background-color: yellow;
  }

  .big-brain-time {
   line-height: 200px;
  }
.image-brain{
   margin-top: 100px;
   margin-left: 120px;
  }
