@import"_Raja.scss";
@import"_Prince.scss";
@import"_Abhaysinh.scss";
@import"_Anjali.scss";
@import"_Sandesh.scss";

// @import"_CardPage.scss";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}