body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(175, 175, 35);
}

header {
  background-color: black;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: color 0.3s;
}

nav a:hover {
  color: #ccc;
}

.logo img {
  height: 40px; /* Adjust the height as needed */
}

body {
  padding-top: 60px; /* Adjust this value based on your header height */
}

section {
  padding: 20px;
  margin: 60px 0 0 0; /* Adjust this value based on your header height */
}

/* Abhay css
   */
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.accordion {
  background-color: #ffffff;
  color: #132e30;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  margin-bottom: 5px;
  border-radius: 10px;
  font-weight: bold;

  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #000000;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: rgb(0, 0, 0);
  color: white;
  overflow: hidden;
}

.active,
.accordion:hover {
  background-color: #ffffff;
}

.faqContainer {
  background-color: black;
  text-align: justify;
  text-justify: inter-word;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}
#FAQTitle {
  text-align: center;
  font-size: 30px;
  background-color: #000000;
  width: 67%;
  margin: auto;
  padding: 20px;
  margin-bottom: 3%;
  color: white;
}
.accordionContainerStyle {
  padding: 5% 5% 5% 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.prvacyContainer {
  background-color: black;
  color: white;
  width: 60%;
  margin: auto;
  text-align: justify;
  text-justify: inter-word;
  padding: 5% 5% 5% 5%;
}
.privacyTitle {
  text-align: center;
  font-size: 30px;
  background-color: #000000;
  width: 67%;
  margin: auto;
  padding: 20px;
  margin-bottom: 3%;
  color: white;
}
.aboutContainer {
  background-color: black;
  color: white;
  width: 60%;
  margin: auto;
  text-align: justify;
  text-justify: inter-word;
  padding: 5% 5% 2% 5%;
}
.aboutTitle {
  text-align: center;
  font-size: 30px;
  background-color: #000000;
  width: 67%;
  margin: auto;
  padding: 20px;
  margin-bottom: 3%;
  color: white;
}
.contactTitle {
  text-align: center;
  font-size: 30px;
  background-color: #000000;
  width: 67%;
  margin: auto;
  padding: 20px;
  margin-bottom: 3%;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.contactContainer {
  background-color: black;
  color: white;
  width: 60%;
  margin: auto;
  text-align: justify;
  text-justify: inter-word;
  padding: 5% 5% 2% 5%;
}
input {
  width: 50%;
  padding: 1%;
  margin: 1%;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#message {
  width: 50%;
  height: 30vh;
  padding: 1%;
  margin: 1%;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  display: flex;
  flex-direction: column;
  margin: auto;
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
#contactSubmitBtn {
  margin-top: 10px;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: green;
  margin-left: 31vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
/* Abhya Css */
